html,
body{
  padding: 0;
  margin: 0;
  background-color: var(--backgorund-color);
  font-family: "neue-haas-grotesk-text", sans-serif; 
  font-weight: 500;
  font-style: normal;
  /* font-size: 17px;  */
  line-height: 20px;
  /* #EDEDED; */
}
ul{
  padding:0;
  margin: 0;
}
:root {
  --highlight-color: var(--appearance-highlight-color);
  --font-size: var(--appearance-font-size);
  --backgorund-color: var(--appearance-background-color);
}

@media (max-width: 768px) {
  :root {
    --font-size: 14px;
  }
  html,
  body{
    line-height: 15px;
  }
}