/* Footer.module.css */
.footer {
    width: 100%;
    display: flex;  /* Two columns */
    /* padding: 10px; */
    box-sizing: border-box; 
    height: 10vh;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    /* border: 1px solid red;   */
    padding: 0 1rem 1rem 1rem;
    font-size: var(--font-size);
  }

.links {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  width: fit-content;
  text-decoration: none;
  color: black;
}

/* .h1:not(:first-child) {
    cursor: pointer 
} */

.column{

width: 50%;
padding: 0;
margin:0;
display: flex;
flex-direction: column
}

@media (max-width: 768px) {
   .links {
    font-size: 15px;
   }
   .footer {
    height: auto;
    padding: 0.5rem;
   }
  }