.text_1{
    margin-top:calc(7vh + 18px);
    padding: 0;
    margin-bottom: 0;
}
.text_2_line1{
    padding:0;
    margin-top: 1rem;
    margin-bottom: 0;
}
.text_2_line2{
    padding:0;
    margin:0;
}
.text_2_line3{
    padding:0;
    margin:0;
}