.column_wrapper{
font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  padding-top: 7vh;
}

.text_1{
    /* margin-top: calc(7vh + 18px); */
    padding: 0;
    margin-bottom: 0;
}


.text_2_line1{
    padding:0;
    margin-top: 1rem;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.4);
}
.text_2_line2{
    padding:0;
    margin:0;
    color: rgba(0, 0, 0, 0.4);
}
.text_2_line3{
    padding:0;
    margin:0;
    color: rgba(0, 0, 0, 0.4);
}

.imageContainer {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute space between images */
    /* position: relative; */
  }
  
  .stackedImage {
    width: 100%; 
    position: relative;
    margin-top: 1rem; /* Adjust the margin as needed */
    
  }
  
  .twoPerRowImage {
    width: calc(50% - 0.5rem); /* Ensure there's enough space for the gap */
    margin-top: 1rem;
    position: relative;
  }
  
  .threePerRowImage {
    width: calc(33% - 0.5rem); /* Ensure there's enough space for the gap */
    margin-top: 1rem;
    position: relative;
  }

  @media (max-width: 768px) {
    .imageContainer {
      flex-direction: column; /* Stack images vertically */
    }
  
    .stackedImage {
      width: 100%;
      margin-top: 0.5rem; /* Take up the full width */
    }
  
    .twoPerRowImage {
      width: 100%; /* Take up the full width */
      margin-top: 0.5rem;
    }
  
    .threePerRowImage {
      width: 100%; /* Take up the full width */
      margin-top: 0.5rem;
    
    }
    .column_wrapper{
      padding-top: 3vh;
    }
    .text_1{
      line-height: 1.1;
  }
  }