.section {
    width: 100%;
    display: flex;
    align-items: left;
    padding: 1rem;
    box-sizing: border-box; 
    height: 90vh;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: var(--font-size);
}

.h1.faded {
    color: rgba(0, 0, 0, 0.4);
}

.h1 {
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
    padding: 0;
    margin: 0;
    width: fit-content;
    cursor: pointer;
}

.column_1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.column_2 {
    display: flex;
    width: 50%;
    overflow-y: auto;
}

.column_2::-webkit-scrollbar {
    display: none;
}

.h1:hover {
    color: var(--highlight-color);
}

.projectList {
    margin-top: 7vh;
    width: fit-content;
}

.project {
    margin: 0;
    padding: 0;
    margin: 0;
}

.p {
    margin: 0;
    width: fit-content;
    cursor: pointer; 
}

.projectList .p:hover, 
.projectList .p.faded-text:hover { 
    color: var(--highlight-color); 
}

.text_1 {
    margin-top: calc(7vh + 18px);
    padding: 0;
    margin-bottom: 0;
}

.text_2_line1,
.text_2_line2,
.text_2_line3 {
    padding: 0;
    margin: 0;
    color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) { 
    .section {
        flex-direction: column;
    }
    
    .column_1, 
    .column_2 { 
        width: 100%;
    } 
    
    .projectList.show {
        display: block;
    }
    
    .projectList {
        display: none; 
    }
    
    .green_circle { 
        position: absolute;
        top: 1rem; 
        right: 1rem;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgb(60, 201, 60);
    }
}
